@model Marinel_ui.Pages.DocumentsPageModel

@using Marinel_ui.Helpers;


<button id="newDocumentBtn" type="button" class="btn btn-success">Add New Document</button>

<div id="new-document-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add document</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="new-document-form" method="post" enctype="multipart/form-data">

                    <input type="hidden" name="form-type" value="document" />

                    @*Title*@
                    <div class="form-group">
                        <label for="library-book-title" class="form-label">Name</label>
                        <input type="text" class="form-control" id="document-name" name="document-name">
                    </div>

                    @*File*@
                    <div class="form-group">
                        <label for="library-book-author" class="form-label">File</label>
                        <input type="file" class="form-control" id="file" name="file" accept="image/*,application/pdf">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="new-document-submit-btn" type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Document Type</th>
            <th scope="col">Created At</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var _document in Model.Documents)
            {
                <tr>
                    <td>@_document.Name</td>
                    <td>@_document.DocumentType</td>
                    <td>@DateTimeHelper.ToDayMonthYear(_document.CreatedAt)</td>
                    <td>
                        <a href="@_document.URL">
                            <button type="button" class="btn btn-warning">
                                Download
                            </button>
                        </a>
                       
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger delete-document-btn" value="@_document.Name">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
