@page "{handler?}"
@model SettingsPageModel
@{
    ViewData["Title"] = "Settings";
}
<h1>@ViewData["Title"]</h1>

<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-students-tab" data-bs-toggle="pill" data-bs-target="#v-pills-students" type="button" role="tab" aria-controls="v-pills-students" aria-selected="false">
            Students
        </button>
        <button class="nav-link" id="v-pills-teachers-tab" data-bs-toggle="pill" data-bs-target="#v-pills-teachers" type="button" role="tab" aria-controls="v-pills-teachers" aria-selected="false">
            Teachers
        </button>
        <button class="nav-link" id="v-pills-classes-tab" data-bs-toggle="pill" data-bs-target="#v-pills-classes" type="button" role="tab" aria-controls="v-pills-classes" aria-selected="false">
            Classes
        </button>
        <button class="nav-link" id="v-pills-inventory-tab" data-bs-toggle="pill" data-bs-target="#v-pills-inventory" type="button" role="tab" aria-controls="v-pills-inventory" aria-selected="false">
            Inventory
        </button>
        <button class="nav-link" id="v-pills-users-tab" data-bs-toggle="pill" data-bs-target="#v-pills-users" type="button" role="tab" aria-controls="v-pills-users" aria-selected="false">
            Users
        </button>
        <button class="nav-link" id="v-pills-expenses-tab" data-bs-toggle="pill" data-bs-target="#v-pills-expenses" type="button" role="tab" aria-controls="v-pills-expenses" aria-selected="false">
            Expenses
        </button>

    </div>

    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-students" role="tabpanel" aria-labelledby="v-pills-students-tab">
            <partial name="Student/_StudentList" model="@Model" />
        </div>
        <div class="tab-pane fade" id="v-pills-teachers" role="tabpanel" aria-labelledby="v-pills-teachers-tab">
            <partial name="Teacher/_TeacherList" model="@Model" />
        </div>
        <div class="tab-pane fade" id="v-pills-classes" role="tabpanel" aria-labelledby="v-pills-classes-tab">
            <partial name="Class/_ClassList" model="@Model" />
        </div>
        <div class="tab-pane fade" id="v-pills-inventory" role="tabpanel" aria-labelledby="v-pills-inventory-tab">
            <partial name="Inventory/_Inventory" model="@Model" />
        </div>
        <div class="tab-pane fade" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">
            <partial name="User/_UserList" model="@Model" />
        </div>
        <div class="tab-pane fade" id="v-pills-expenses" role="tabpanel" aria-labelledby="v-pills-expenses-tab">
            <partial name="Expense/_Expense" model="@Model" />
        </div>
    </div>
</div>

@section scripts {

<script>
    $(function () {

        // Student 
        $('#newStudentBtn').click(function () {
            $('#newStudentModal').modal('show');
        });

        $('#newStudentFormBtn').click(function () {

            var studentDDLVal = $('#studentClass').val();
            var studentNameFieldVal = $('#studentClass').val();

            if (studentDDLVal !== 'Select a class...' && studentNameFieldVal.length > 0) {
                $('#new-student-form').submit();

            } else {
                alert('Error: Must Enter name and select a class');
            }

        });

        $('.edit-student-btn').click(function () {

            var selectedStudentId = $(this).val();
            var selectedStudentModalId = "#edit-student-modal-" + selectedStudentId;

            $(selectedStudentModalId).modal('show');
        });

        $('.edit-student-submit-btn').click(function () {

            var formId = $(this).val();

            var nameFieldVal = $('#student-name-' + formId).val();
            var classDDLVal = $('#student-class-ddl-' + formId).val();

            if (classDDLVal !== 'Select Class...' && nameFieldVal.length > 0) {
                $('#edit-student-form-' + formId).submit();
            } else {
                alert('Error: Must Enter all fields');
            }
        });

        // Teacher

        $('#newTeacherBtn').click(function () {
            $('#new-teacher-modal').modal('show');
        });

        $('#new-teacher-submit-btn').click(function () {

            var nameFieldVal = $('#teacher-name').val();

            var classDDLVal = $('#teacher-class-ddl').val();

            if (classDDLVal !== 'Select Class...' && nameFieldVal.length > 0) {
                $('#new-teacher-form').submit();
            } else {
                alert('Error: Must Enter all fields');
            }
        });

        $('.edit-teacher-btn').click(function () {

            var selectedTeacherId = $(this).val();
            var selectedTeacherModalId = "#edit-teacher-modal-" + selectedTeacherId;

            $(selectedTeacherModalId).modal('show');
        });

        $('.edit-teacher-submit-btn').click(function () {

            var formId = $(this).val();

            var nameFieldVal = $('#teacher-name-' + formId).val();
            var classDDLVal = $('#teacher-class-ddl-' + formId).val();

            if (classDDLVal !== 'Select Class...' && nameFieldVal.length > 0) {
                $('#edit-teacher-form-' + formId).submit();
            } else {
                alert('Error: Must Enter all fields');
            }
        });

        $('.delete-teacher-btn').click(function () {

            var formId = $(this).val();

            if (confirm("Are you sure you want to delete this teacher")) {
                return $.ajax({
                    type: "GET",
                    url: "/Settings/DeleteTeacherById",
                    data: { teacherId: formId },
                    success: function () {
                        location.href = "/Settings";
                    }
                });
            }
        });


        // Class
        $('#newClassBtn').click(function () {
            $('#newClassModal').modal('show');
        });

        $('#newClassFormBtn').click(function () {

            var classNameFieldVal = $('#className').val();

            if (classNameFieldVal.length > 0) {
                $('#new-class-form').submit();

            } else {
                alert('Must enter a class name');
            }
        });

        $('.edit-class-item').click(function () {

            var formId = $(this).val();
            var selectedClassItemModalId = "#edit-class-modal-" + formId;

            $(selectedClassItemModalId).modal('show');
        });

        $('.edit-class-submit-btn').click(function () {

            var formId = $(this).val();
            var classNameFieldVal = $('#className-' + formId).val();
 
            if (classNameFieldVal.length > 0) {
                $('#edit-class-form-' + formId).submit();
            } else {
                alert('Error: Must Enter class name');
            }

        });


        // Inventory Type

        $('#newInventoryTypeBtn').click(function () {
            $('#inventory-type-modal').modal('show');
        });

        $('#enter-inventory-type-btn').click(function () {

            var $addInventoryTypeBtn = $(this);

            var inventoryTypeFormId = '#new-inventory-type-group';
            $(inventoryTypeFormId).toggle();


            if ($addInventoryTypeBtn.text() === 'Enter New Type') {
                $addInventoryTypeBtn.text("Cancel New Type");
            } else {
                $addInventoryTypeBtn.text("Enter New Type");
            }

        });

        $('#update-inventory-item-type-btn').click(function () {

            var inputValue = $('#new-inventory-type-input').val();
            var enterInventoryTypeText = $('#enter-inventory-type-btn').text();


            if (enterInventoryTypeText === 'Cancel New Type') {
                if (inputValue.length === 0) {
                    alert('Inventory Type Name cannot be empty')
                } else {
                    $('#new-inventory-type-form').submit();
                }
            } else {
                $('#inventory-type-modal').modal('hide');
            }
        });


        // Inventory

        $('#newInventoryItemBtn').click(function () {
            $('#new-inventory-item-modal').modal('show');
        });

        $('#new-inventory-item-btn').click(function () {

            var typeDDLVal = $('#item-type-input').val();
            var inventoryNameFieldVal = $('#item-name-input').val();
            var inventoryQuantityFieldVal = $('#item-quantity-input').val();
            var inventoryUnitCostFieldVal = $('#item-unit-cost-input').val();
            var inventorySellingPriceFieldVal = $('#item-selling-price-input').val();

            if (typeDDLVal !== 'Select a type...' && inventoryNameFieldVal.length > 0 && inventoryQuantityFieldVal > 0 && inventoryUnitCostFieldVal > 0 && inventorySellingPriceFieldVal > 0) {
                $('#new-inventory-item-form').submit();
            } else {
                alert('Error: Must Enter all fields');
            }

        });

        $('.edit-inventory-item').click(function () {

            var selectedInventoryItemId = $(this).val();
            var selectedInventoryItemModalId = "#edit-inventory-item-modal-" + selectedInventoryItemId;

            $(selectedInventoryItemModalId).modal('show');
        });

        $('.edit-inventory-item-submit-btn').click(function () {

            var formId = $(this).val();

            var typeDDLVal = $('#item-type-input-' + formId).val();
            var inventoryNameFieldVal = $('#item-name-input-' + formId).val();
            var inventoryQuantityFieldVal = $('#item-quantity-input-' + formId).val();
            var inventoryUnitCostFieldVal = $('#item-unit-cost-input-' + formId).val();
            var inventorySellingPriceFieldVal = $('#item-selling-price-input-' + formId).val();

            if (typeDDLVal !== 'Select a type...' && inventoryNameFieldVal.length > 0 && inventoryQuantityFieldVal > 0 && inventoryUnitCostFieldVal > 0 && inventorySellingPriceFieldVal > 0) {
                $('#edit-inventory-item-form-' + formId).submit();
            } else {
                alert('Error: Must Enter all fields');
            }
        });


        // Expense Type

        $('#newExpenseTypeBtn').click(function () {
            $('#expense-type-modal').modal('show');
        });

        $('#enter-expense-type-btn').click(function () {

            var $addInventoryTypeBtn = $(this);

            var inventoryTypeFormId = '#new-expense-type-group';
            $(inventoryTypeFormId).toggle();


            if ($addInventoryTypeBtn.text() === 'Enter New Expense Type') {
                $addInventoryTypeBtn.text("Cancel New Type");
            } else {
                $addInventoryTypeBtn.text("Enter New Expense Type");
            }

        });

        $('#update-expense-item-type-btn').click(function () {

            var inputValue = $('#new-expense-type-input').val();
            var enterInventoryTypeText = $('#enter-expense-type-btn').text();

            if (enterInventoryTypeText === 'Cancel New Type') {
                if (inputValue.length === 0) {
                    alert('Expense Type Name cannot be empty')
                } else {
                    $('#new-expense-type-form').submit();
                }
            } else {
                $('#expense-type-modal').modal('hide');
            }
        });

        // Expense

        $('#newExpenseItemBtn').click(function () {
            $('#new-expense-item-modal').modal('show');
        });

        $('#new-expense-item-btn').click(function () {

            var typeDDLVal = $('#expense-item-type-input').val();
            var inventoryNameFieldVal = $('#expense-item-name-input').val();
            var inventoryQuantityFieldVal = $('#expense-item-quantity-input').val();
            var inventoryUnitCostFieldVal = $('#expense-item-unit-cost-input').val();

            if (typeDDLVal !== 'Select a type...' && inventoryNameFieldVal.length > 0 && inventoryQuantityFieldVal > 0 && inventoryUnitCostFieldVal > 0) {
                $('#new-expense-item-form').submit();
            } else {
                alert('Error: Must Enter all fields');
            }

        });

        $('.edit-expense-item').click(function () {

            var selectedInventoryItemId = $(this).val();
            var selectedInventoryItemModalId = "#edit-expense-item-modal-" + selectedInventoryItemId;

            $(selectedInventoryItemModalId).modal('show');
        });

        $('.edit-expense-item-submit-btn').click(function () {

            var formId = $(this).val();

            var typeDDLVal = $('#expense-item-type-input-' + formId).val();
            var inventoryNameFieldVal = $('#expense-item-name-input-' + formId).val();
            var inventoryQuantityFieldVal = $('#expense-item-quantity-input-' + formId).val();
            var inventoryUnitCostFieldVal = $('#expense-item-unit-cost-input-' + formId).val();

            if (typeDDLVal !== 'Select a type...' && inventoryNameFieldVal.length > 0 && inventoryQuantityFieldVal > 0 && inventoryUnitCostFieldVal > 0) {
                $('#edit-expense-item-form-' + formId).submit();
            } else {
                alert('Error: Must Enter all fields');
            }
        });

        // User

        $('#newUserBtn').click(function () {
            $('#new-user-modal').modal('show');
        });

        $('#new-user-submit-btn').click(function () {

            var nameFieldVal = $('#name').val();
            var usernameFieldVal = $('#username').val();
            var passwordFieldVal = $('#password').val();
            var confirmPasswordFieldVal = $('#confirm-password').val();
            var roleDDLVal = $('#user-role-ddl').val();

            if (passwordFieldVal !== confirmPasswordFieldVal) {
                alert('passwords do not match')
            } else {

                if (passwordFieldVal.length < 6) {
                    alert('Password must be atleast 6 Characters');
                    return;
                }

                if (roleDDLVal !== 'Select Role Type...' && nameFieldVal.length > 0 && usernameFieldVal.length > 0) {
                    $('#new-user-form').submit();
                } else {
                    alert('Error: Must Enter all fields');
                }
            }
        });

        $('.edit-user-btn').click(function () {

            var selectedUserId = $(this).val();
            var selectedUserModalId = "#edit-user-modal-" + selectedUserId;

            $(selectedUserModalId).modal('show');
        });

        $('.edit-user-submit-btn').click(function () {

            var formId = $(this).val();

            var nameFieldVal = $('#name-' + formId).val();
            var usernameFieldVal = $('#username-' + formId).val();
            var roleDDLVal = $('#user-role-ddl-' + formId).val();

            if (roleDDLVal !== 'Select Role Type...' && nameFieldVal.length > 0 && usernameFieldVal.length > 0) {
                $('#edit-user-form-' + formId).submit();
            } else {
                alert('Error: Must Enter all fields');
            }
        });

        $('.delete-user-btn').click(function () {

            var formId = $(this).val();

            if (confirm("Are you sure you want to delete this user")) {
                return $.ajax({
                    type: "GET",
                    url: "/Settings/DeleteUserById",
                    data: { userId: formId },
                    success: function () {
                        location.href = "/Settings";
                    }
                });
            }
        });
    });
</script>

}
